html {
    background: url(projetos.jpg) no-repeat center fixed;
    background-size: cover;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.877);
    padding: 8px;
}

li{
    font-size: 15px;
   float: left;
   margin-left: 15%;
   padding: 8px;
   font-family: 'Roboto', sans-serif;
   
}

li a{
    text-align: center;
    display:block;
    padding:14px 16px;
    color: rgb(7, 203, 238);
    text-decoration: none;
}

li a:hover{
    background-color: #03bbd3;
    border-radius: 20px;
    color: rgb(250, 246, 246)
  }

  h1{
    font-size: 40px;
    text-align: center;
    color: rgb(7, 203, 238);
    font-family: 'Roboto', sans-serif;
  }
  .texto{
    background-color: rgba(1, 14, 12, 0.836);
  }

  .texto h2 span{
    margin-left: 12px;
    font-size: 13px;
    cursor: pointer;
  }

  .texto h2{
    font-family:  'Merriweather', serif;
    margin-left: 190px;
    text-align:left;
    font-size: 50px;
    color:rgb(7, 203, 238);
  }

.texto p{
    height: 10px;
    transition: 1s;
    overflow: hidden;
    width: 600px;
    font-size: 20px;
    text-align: left;
    color: #e8eff0;
    padding: 10px;
    margin-left: 2%;
    margin-top: -3%;
}
.mostrar{
  height: 100px !important;
}


.imagen{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 60%;
    margin-top: -320px;
 }

 .part2{
    background-color: rgba(1, 14, 12, 0.849);
    margin-top: 50px;
    height: 600px;
 }

 .gallery{
    margin-top: 50px;
    padding: 20px;
    margin-left: 10%;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    transition: 1s;
 }

 .gallery:hover{
    width: 250px;
    border: 1px solid rgb(7, 203, 238);
 }

.gallery img{
    width: 100%;
    height: auto;
 }

.desc{
    color: #e8eff0;
    padding: 15px;
    text-align: center;
 }

 .part3{
  background-color: rgba(1, 14, 12, 0.849);
  margin-top: 590px;
  height: 550px;
}

 .gallery2{
   margin-top:15px;
    padding: 20px;
    margin-left:10%;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    transition: 1s;
 }

 .gallery2:hover{
    width: 250px;
    border: 1px solid rgb(7, 203, 238);
 }

.gallery2 img{
    width: 100%;
    height: auto;
 }

.desc{
    color: #e8eff0;
    padding: 15px;
    text-align: center;
 }


 .contatos{
  margin-top: 610px;
  background-color: rgba(1, 14, 12, 0.849);
  height: 160px;
 }

 div i{
  width: 0;
  height:0;
  top: 10px;
  margin-top: 20px;
  float: left;
  font-size: 50px;
  padding:0 200px;
  background-color: #03bbd3;
  margin-left: 50px;
 }

 .git a{
  cursor: pointer;
  color: #08bfec;
 }

 .insta a{
  cursor: pointer;
  color: #da7706;
 }

.link a{
  cursor: pointer;
  color: #095efc;
 }

 .whats a{
  cursor: pointer;
  color: #03f82c;
 }

 .whats{
  width: 0;
  position: relative;
  display:flex;
}
.p4{
  font-size: 20px
}
.drop{
  margin-left: 60px;
  margin-top: -60px;
  display: none;
  height:0;
  text-align: left;
  color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding:0;
  text-align: center;
  background-color: #03bbd3;
}

i:hover .drop{
  display: block;
}
a:hover{
  color: #f2f2f5;
}

.p0{
  width: 0;
  height: 0;
  color: #03bbd3;
  font-size: 50px;
  margin-left: 50%;
  
}

@media screen and (max-width:1590px){
  
  .part2{
    background-color: rgba(1, 14, 12, 0.849);
    margin-top: 50px;
    height: 500px;
 }

 .gallery{
  margin-top: 50px;
  padding: 10px;
  margin-left: 12%;
  border: 1px solid #ccc;
  float: left;
  width: 120px;
  transition: 1s;
}

.gallery img{
  width: 100%;
  height: auto;
}
.gallery:hover{
  width: 150px;
  border: 1px solid rgb(7, 203, 238);
}


.desc{
  color: #e8eff0;
  text-align: center;
}


.part3{
  background-color: rgba(1, 14, 12, 0.849);
  margin-top:35%;
  height: 500px;
}

.gallery2{
margin-top: 2%;
padding: 10px;
margin-left: 12%;
border: 1px solid #ccc;
float: left;
width: 120px;
transition: 1s;
}

.gallery2 img{
width: 100%;
height: auto;
}
.gallery2:hover{
width: 150px;
border: 1px solid rgb(7, 203, 238);
}


.desc{
color: #e8eff0;
text-align: center;
}


div i{
  width: 0;
  height:0;
  margin-top: 20px;
  font-size: 50px;
  padding:0 20px;
  background-color: #03bbd3;
  margin-left: 20%;
 }

 .whats{
  padding:0 200px;
}

}

 @media screen and (max-width:1360px) {
  
  .texto h2{
    font-family:  'Merriweather', serif;
    margin-left: 35%;
    text-align:left;
    font-size: 50px;
    color:rgb(7, 203, 238);
  }

  
.texto p{
  height: 10px;
  transition: 1s;
  overflow: hidden;
  width: 400px;
  font-size: 20px;
  text-align: left;
  color: #e8eff0;
  padding: 10px;
  margin-left: 35%;
  margin-top: -3%;
}
  
  .texto h2 span{
    margin-left: 2%;
    font-size: 13px;
    cursor: pointer;
  }

  
li{
font-size: 15px;
 float: left;
 margin-left: 20%;
 padding: 0;
 font-family: 'Roboto', sans-serif;
}
  

  .imagen{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 35%;
    margin-top: -2%;
  }

  .gallery{
    margin-top:2%;
    padding:8%;
    margin-left:5%;
    border: 1px solid #ccc;
    float: left;
    width: 30px;
    height: 40px;
    transition: 1s;
  }
  
  .gallery img{
    margin-top: -35px;
    margin-left: -35px;
    width: 100px;
    height: 100px;
  }
  
  .gallery:hover{
    width: 0;
    height: 0;
    left: 0;
    border: 1px solid rgb(7, 203, 238);
  }
  
  
  .desc{
    color: #e8eff0;
     display: none;
    text-align: center;
  }
  .part3{
    background-color: rgba(1, 14, 12, 0.849);
    margin-top:40%;
    height: 500px;
  }
  
  .gallery2{
    margin-top:10%;
    padding:8%;
    margin-left:5%;
    border: 1px solid #ccc;
    float: left;
    width: 30px;
    height: 40px;
    transition: 1s;
  }
  
  .gallery2 img{
    margin-top: -35px;
    margin-left: -35px;
    width: 100px;
    height: 100px;
  }
  
  .gallery2:hover{
    width: 0;
    height: 0;
    left: 0;
    border: 1px solid rgb(7, 203, 238);
  }
  
  
  .desc{
    color: #e8eff0;
     display: none;
    text-align: center;
  }

  
div i{
  width: 0;
  height:0;
  margin-top: 2%;
  font-size: 50px;
  padding:0 20px;
  background-color: #03bbd3;
  margin-left: 20%;
 }

 .whats{
  padding:25px 120px;
}


 }
 
 @media  screen and (max-width:390px){
  
  .texto h2{
    font-family:  'Merriweather', serif;
    margin-left: 35%;
    text-align:left;
    font-size: 50px;
    color:rgb(7, 203, 238);
  }

  
.texto p{
  height: 10px;
  transition: 1s;
  overflow: hidden;
  width: 400px;
  font-size: 20px;
  text-align: left;
  color: #e8eff0;
  padding: 10px;
  margin-left: 35%;
  margin-top: -3%;
}
  
  .texto h2 span{
    margin-left: 2%;
    font-size: 13px;
    cursor: pointer;
  }

  
li{
font-size: 15px;
 float: left;
 margin-left: 20%;
 padding: 0;
 font-family: 'Roboto', sans-serif;
}
  

  .imagen{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 35%;
    margin-top: -2%;
  }

  .gallery{
    margin-top:2%;
    padding:8%;
    margin-left:5%;
    border: 1px solid #ccc;
    float: left;
    width: 30px;
    height: 40px;
    transition: 1s;
  }
  
  .gallery img{
    margin-top: -35px;
    margin-left: -35px;
    width: 100px;
    height: 100px;
  }
  
  .gallery:hover{
    width: 0;
    height: 0;
    left: 0;
    border: 1px solid rgb(7, 203, 238);
  }
  
  
  .desc{
    color: #e8eff0;
     display: none;
    text-align: center;
  }
  .part3{
    background-color: rgba(1, 14, 12, 0.849);
    margin-top:40%;
    height: 500px;
  }
  
  .gallery2{
    margin-top:10%;
    padding:8%;
    margin-left:5%;
    border: 1px solid #ccc;
    float: left;
    width: 30px;
    height: 40px;
    transition: 1s;
  }
  
  .gallery2 img{
    margin-top: -35px;
    margin-left: -35px;
    width: 100px;
    height: 100px;
  }
  
  .gallery2:hover{
    width: 0;
    height: 0;
    left: 0;
    border: 1px solid rgb(7, 203, 238);
  }
  
  
  .desc{
    color: #e8eff0;
     display: none;
    text-align: center;
  }

  
div i{
  width: 0;
  height:0;
  margin-top: 2%;
  font-size: 50px;
  padding:0 20px;
  background-color: #03bbd3;
  margin-left: 20%;
 }

 .whats{
  padding:25px 120px;
}


 }
 
 