html {
    background: url(projetos.jpg) no-repeat center fixed;
    background-size: cover;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.877);
    padding: 8px;
}

li{
    font-size: 15px;
   float: left;
   margin-left: 15%;
   padding: 8px;
   font-family: 'Roboto', sans-serif;
   
}

li a{
    text-align: center;
    display:block;
    padding:14px 16px;
    color: rgb(7, 203, 238);
    text-decoration: none;
}

li a:hover{
    background-color: #03bbd3;
    border-radius: 20px;
    color: rgb(250, 246, 246)
  }

  h1{
    font-size: 80px;
    text-align: center;
    color: rgb(7, 203, 238);
    font-family: 'Roboto', sans-serif;
  }
  .texto{
    background-color: rgba(1, 14, 12, 0.836);
  }

  .texto h2 span{
    margin-left: 12px;
    font-size: 13px;
    cursor: pointer;
  }

  .texto h2{
    
    font-family:  'Merriweather', serif;
    margin-left: 190px;
    text-align:left;
    font-size: 50px;
    color:rgb(7, 203, 238);
  }

.texto p{
    height: 10px;
    transition: 1s;
    overflow: hidden;
    width: 600px;
    font-size: 20px;
    text-align: left;
    color: #e8eff0;
    padding: 10px;
    margin-left: 2%;
    margin-top: -3%;
}
.mostrar{
  height: 100px !important;
}


.imagen{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 60%;
    margin-top: -65%;
 }

 .part2{
    background-color: rgba(1, 14, 12, 0.849);
    margin-top: 50px;
    height: 580px;
 }

 .gallery{
  margin-top: 30px;
    padding: 20px;
    margin-left: 150px;
    border: 1px solid #ccc;
    float: left;
    width: 120px;
    transition: 1s;
 }

 .gallery:hover{
    width: 200px;
    border: 1px solid rgb(7, 203, 238);
 }

.gallery img{
    width: 100%;
    height: auto;
 }

.desc{
    color: #e8eff0;
    padding: 15px;
    text-align: center;
 }

 .contatos{
  margin-top: 50px;
  background-color: rgba(1, 14, 12, 0.849);
  height: 130px;
 }

 div i{
  width: 1px;
  height:0;
  top: 10px;
  margin-top: 50px;
  float: left;
  font-size: 50px;
  padding:0 50px;
  background-color: #03bbd3;
 }

 .git{
  cursor: pointer;
  color: #ebeff0;
 }

 .insta{
  cursor: pointer;
  color: #da7706;
 }

 .link{
  cursor: pointer;
  color: #034353;
 }

 .whats{
  cursor: pointer;
  color: #03f82c;
 }
